In [2]:
import pandas as pd

In [4]:
dict_data = {'a':1, 'b':2, 'c':3}
series_data = pd.Series(dict_data)
print(type(series_data))
print("")
print(series_data)

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
dtype: int64

In [10]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
series_data = pd.Series(list_data)

print(series_data.index,'\n\n', series_data.values, '\n\n', series_data)

RangeIndex(start=0, stop=5, step=1)

 ['2019-01-02' 3.14 'ABC' 100 True]

 0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [4]:
data1 = {'year' : [2016, 2017, 2018],
       'GDP rate' : [2.8, 3.1, 3.0],
       'GDP' : ['1.637M', '1.73M', '1.83M']
       }

df = pd.DataFrame(data1)
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [5]:
data2 = {'year' : [2017, 2018, 2019],
       'GDP rate' : [5, 18, 0],
       'GDP' : ['7.67M', '2.00M', '6.81M']
       }

df2 = pd.DataFrame(data2)
df2

   year  GDP rate    GDP
0  2017         5  7.67M
1  2018        18  2.00M
2  2019         0  6.81M

In [6]:
pd.merge(df, df2)

Empty DataFrame
Columns: [year, GDP rate, GDP]
Index: []

In [9]:
pd.merge(df, df2, how='left')

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [13]:
pd.merge(df, df2, on='year')

   year  GDP rate_x  GDP_x  GDP rate_y  GDP_y
0  2017         3.1  1.73M           5  7.67M
1  2018         3.0  1.83M          18  2.00M

In [14]:
pd.merge(df, df2, left_on='year')

TypeError: object of type 'NoneType' has no len()