### Q1. 1~20까지의 정수가 모두 들어있는 리스트 변수를 만드시오.
### 변수명 : numbers

In [ ]:
# 1.
numbers = [x for x in range(1,21)]

In [ ]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# 2.
numbers = list(range(1,21))

In [ ]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### Q2. 주어진 변수 test_dict의 데이터를 이용해 BMI 수치를 계산하여 화면에 출력하시오.
### BMI 공식 : 체중(kg) / (신장(m)**2)

In [ ]:
test_dict = {"Name":"Jake","Weight":68.5, "Height":183.2}

In [ ]:
# 1.
bmi = test_dict["Weight"] / ((test_dict["Height"]/100)**2)
print(bmi)

20.409841536202592

### Q3. 정수 두개를 입력받아 사칙연산과 특수연산 3가지(**,//, %)의 결과를 모두 화면에 출력하시오.
### 출력 예시

3 + 5 = 8

3 - 5 = -2

3 * 5 = 15

3 / 5 = 0.6

3 ** 5 = 243

3 // 5 = 0

3 % 5 = 3

In [ ]:
# 1.
number1 = input("정수1 : ")
number2 = input("정수2 : ")
number1 = int(number1)
number2 = int(number2)
print(number1,"+",number2,"=",number1+number2)
print(number1,"-",number2,"=",number1-number2)
print(number1,"*",number2,"=",number1*number2)
print(number1,"/",number2,"=",number1/number2)
print(number1,"**",number2,"=",number1**number2)
print(number1,"//",number2,"=",number1//number2)
print(number1,"%",number2,"=",number1%number2)

정수1 : 10
정수2 : 2
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0
10 ** 2 = 100
10 // 2 = 5
10 % 2 = 0

### Q4. 사용자에게 이름을 입력받아 
### 안녕하세요 [이름]님 
### 이라고 출력하시오. 단, 이름을 아무것도 입력하지 않으면
### 이름을 입력하지 않으셨습니다
### 라고 출력하시오.

In [ ]:
# 1.
name = input("이름 : ")
if name:
    print("안녕하세요",name,"님")
else:
    print("이름을 입력하지 않으셨습니다.")

이름 : 모비스
안녕하세요 모비스 님

### Q5. random 모듈을 사용하여 1~10 사이의 정수중 하나를
### 랜덤하게 출력하는 코드를 작성하시오.
### * import 구문 포함

In [ ]:
# 1.
import random
number = random.randint(1,10)
print(number)

6

### Q6. 다음 코드가 무한 루프가 되지 않게  탈출 구문을 추가하시오.

In [ ]:
while True:
    print("hi")

In [ ]:
# 1.
while True:
    print("hi")
    break

hi

### Q7. 사용자에게 정수를 입력받는 다음의 코드가 있을 때
### 사용자가 입력을 마치면 입력받은 숫자의 갯수를 출력하는
### 코드를 작성하시오.

In [ ]:
test_list = []
while True:
    number = input("정수:")
    if not number:
        break
    number = int(number)
    test_list.append(number)

정수:10
정수:5
정수:2
정수:9
정수:8
정수:

In [ ]:
# 1.
print(len(test_list))

5

### Q8. 문제 7번을 활용하여
### 사용자가 입력한 숫자들을 오름 차순으로 정렬하여 출력하는
### 코드를 작성하시오.

In [ ]:
# 1.
test_list.sort()
print(test_list)

[2, 5, 8, 9, 10]

In [ ]:
# 2.
print(sorted(test_list))

### Q9. datetime 모듈을 활용하여
### 오늘의 날짜를 출력하시오.
### 출력 예시 : 2021-04-29

In [ ]:
# 1. 
from datetime import datetime
print(datetime.now().strftime("%Y-%m-%d"))

2021-04-23

### Q10. 사용자에게 이름을 입력받아
### name.txt 파일에 저장하는 코드를 작성하시오.

In [ ]:
# 1.
name = input("이름 : ")
f = open("name.txt", "w")
f.write(name)
f.close()

이름 : 모비스

### Q11. names.csv 파일에 한줄에 한명씩의 이름이 저장되어 있다고 가정할 때
### 사용자의 이름을 입력받아 해당 목록이 이름이 있는지 여부를
### 출력하는 코드를 작성하시오.

In [ ]:
# 1.
import csv
search_name = input("이름 : ")
file = open("names.csv", "r", ,encoding='utf-8')
reader = csv.reader(file)
names = list(reader)
for name in names:
    if search_name == name:
        print("이름 있음")
        break
else:
    print("이름 없음")

In [ ]:
# 2.
import csv
f = open("names.csv","r",encoding='utf-8')
lines = list(csv.reader(f))
lines = [line[0] for line in lines]
f.close()
name = input("이름:")
if name in lines:
    print("있음")
else:
    print("없음")

### Q12. 현재 폴더에 있는 home_sample.csv 파일을 로드하는 코드를 작성하시오. 
### *pandas를 활용하시오.

In [1]:
# 1.
import pandas as pd
df = pd.read_csv("home_sample.csv")

### Q13. 위에서 로드한 데이터의 상위 3줄, 하위 3줄 데이터를 주피터 화면에서 출력하여 확인하는 코드를 작성하시오.

In [ ]:
# 1.
df.head()
df.tail()

### Q14. 위에서 로드한 데이터를 가지고 다음의 제약조건대로 데이터를 변경하시오.
### 1) 데이터의 제일 아랫줄에 mean 행을 추가합니다.
### mean 행에는 AMT_ 로 시작하는 열들의 경우 평균값을 구하여 입력합니다. (나머지 열의 mean 행 데이터는 비워놔도 됩니다.)
### 2) 데이터의 제일 오른쪽 열에 rank 열을 추가합니다.
### rank 열에는 AMT_INCOME_TOTAL 열을 기준으로 랭킹을 구하여 입력합니다.

In [2]:
# 1.
data = data.append(pd.Series(name='mean'))
for column in data.columns:
    if "AMT_" in column:
        data[column]['mean'] = data[column].mean()
data['rank'] = data['AMT_INCOME_TOTAL'].rank()

NameError: name 'data' is not defined

### Q15. 다음 코드를 보고 alco_with_nan의 결측치를 모두 채우는 코드를 작성하시오.

In [ ]:
import numpy as np
import pandas as pd
alco_data = {'D1':[1.36,3.14],'D2':[0.42,0.29],
             'D3':[0.7, 0.68], 'D4':[np.nan,np.nan]}
alco_with_nan = pd.DataFrame(alco_data, index=['A','B'])

In [ ]:
# 1. 
alco_with_nan.fillna(0.0)

In [ ]:
# 2.
A = alco_with_nan.loc['A']
clean = A.notnull()
A[-clean] = A[clean].mean()

B = alco_with_nan.loc['B']
clean = B.notnull()
B[-clean] = B[clean].mean()