### Q10. 사용자에게 이름을 입력받아
### name.txt 파일에 저장하는 코드를 작성하시오.

In [1]:
input_name = input('이름을 입력하세요 : ')

이름을 입력하세요 : 조한준

In [2]:
input_name

'조한준'

In [9]:
f = open('name.txt', 'w')

In [10]:
f.write(input_name)

3

In [11]:
f.close()

### Q11. names.csv 파일에 한줄에 한명씩의 이름이 저장되어 있다고 가정할 때
### 사용자의 이름을 입력받아 해당 목록이 이름이 있는지 여부를
### 출력하는 코드를 작성하시오.

In [12]:
import csv

In [36]:
search = []

In [34]:
input_search = input('찾을 이름은? : ')

찾을 이름은? : 조한준

In [37]:
search.append(input_search)

In [38]:
type(search)

list

In [42]:
f = open('names.csv', 'r', encoding='utf-8')

In [43]:
reader = csv.reader(f)

In [41]:
for r in reader:
    print(r)

['이름1']
['이름2']
['이름3']
['조한준']
['이름4']

In [32]:
for r in reader :
    print(type(r))
    if search == r :
        print('있음')
        break
    else:
        print('없음')

<class 'list'>
없음
<class 'list'>
없음
<class 'list'>
없음
<class 'list'>
없음
<class 'list'>
없음

In [ ]:
for reader

In [44]:
# 1.
import csv
search_name = []
input_search_name = input("이름 : ")
search_name.append(input_search_name)
file = open("names.csv", "r", encoding='utf-8')
reader = csv.reader(file)
names = list(reader)
for name in names:
    if search_name == name:
        print("이름 있음")
        break
else:
    print("이름 없음")

이름 : 조한준
이름 있음

### Q12. 현재 폴더에 있는 home_sample.csv 파일을 로드하는 코드를 작성하시오. 
### *pandas를 활용하시오.

In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('home_sample.csv')
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.shape

(48744, 121)

### Q13. 위에서 로드한 데이터의 상위 3줄, 하위 3줄 데이터를 주피터 화면에서 출력하여 확인하는 코드를 작성하시오.

In [48]:
df.head(3)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [49]:
df.tail(3)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

### Q14. 위에서 로드한 데이터를 가지고 다음의 제약조건대로 데이터를 변경하시오.
### 1) 데이터의 제일 아랫줄에 mean 행을 추가합니다.
### mean 행에는 AMT_ 로 시작하는 열들의 경우 평균값을 구하여 입력합니다. (나머지 열의 mean 행 데이터는 비워놔도 됩니다.)
### 2) 데이터의 제일 오른쪽 열에 rank 열을 추가합니다.
### rank 열에는 AMT_INCOME_TOTAL 열을 기준으로 랭킹을 구하여 입력합니다.

In [50]:
df.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [51]:
for c in df.columns:
    if "AMT_" in c:
        print(c)

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [52]:
df.iloc[-1]

SK_ID_CURR                        456250
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            F
FLAG_OWN_CAR                           Y
FLAG_OWN_REALTY                        N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              1
AMT_REQ_CREDIT_BUREAU_YEAR             4
Name: 48743, Length: 121, dtype: object

In [53]:
df.iloc[48744] = 100

IndexError: iloc cannot enlarge its target object

In [55]:
df['AMT_CREDIT'].mean()

516740.43556129985

In [59]:
data_mean = []

In [60]:
for c in df.columns:
#     print(c)
    if "AMT_" in c:
        data_mean.append(df[c].mean())

In [66]:
data_mean

[178431.80585487446,
 516740.43556129985,
 29426.240209359607,
 462618.84047267353,
 0.0021079751727368545,
 0.0018034898700081978,
 0.0027872116172853964,
 0.009298512706405903,
 0.546902447593395,
 1.9837685911699263]

In [63]:
df_copy = df.copy()

In [64]:
df_copy.append(data_mean)

,0,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,SK_ID_CURR,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,NaN,20560.5,568800.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,...,100001.0,0.0392,"Stone, brick",TUESDAY,0.9732,0.9732,0.9732,NaN,NaN,NaN
1,NaN,17370.0,222768.0,180000.0,99000.0,0.0,0.0,0.0,0.0,0.0,...,100005.0,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,69777.0,663264.0,630000.0,202500.0,0.0,0.0,0.0,1.0,0.0,...,100013.0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,49018.5,1575000.0,1575000.0,315000.0,0.0,0.0,0.0,0.0,0.0,...,100028.0,0.3700,Panel,WEDNESDAY,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608
4,NaN,32067.0,625500.0,625500.0,180000.0,NaN,NaN,NaN,NaN,NaN,...,100038.0,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,0.001803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.002787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.009299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.546902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.983769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
data_mean_series = pd.Series(data_mean, index=df.columns)

ValueError: Length of passed values is 10, index implies 121.

In [67]:
df['AMT_CREDIT'][48743]

312768.0

In [80]:
data_mean = pd.Series(name='mean')

df = df.append(data_mean)

df.tail()

for c in df.columns:
    print(c)
    if 'AMT_' in c:
        print(c)
        df[c]['mean'] = df[c].mean()

SK_ID_CURR
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_CREDIT
AMT_ANNUITY
AMT_ANNUITY
AMT_GOODS_PRICE
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_YEAR

In [79]:
df.tail()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48740,456222.0,Cash loans,F,N,N,2.0,157500.000000,622413.000000,31909.500000,495000.000000,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223.0,Cash loans,F,Y,Y,1.0,202500.000000,315000.000000,33205.500000,315000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
48742,456224.0,Cash loans,M,N,N,0.0,225000.000000,450000.000000,25128.000000,450000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
48743,456250.0,Cash loans,F,Y,N,0.0,135000.000000,312768.000000,24709.500000,270000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,178431.805855,516740.435561,29426.240209,462618.840473,...,NaN,NaN,NaN,NaN,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769

### Q15. 다음 코드를 보고 alco_with_nan의 결측치를 모두 채우는 코드를 작성하시오.

In [89]:
import numpy as np
import pandas as pd
alco_data = {'D1':[1.36,3.14],'D2':[0.42,0.29],
             'D3':[0.7, 0.68], 'D4':[np.nan,np.nan]}
alco_with_nan = pd.DataFrame(alco_data, index=['A','B'])

In [90]:
alco_with_nan

     D1    D2    D3  D4
A  1.36  0.42  0.70 NaN
B  3.14  0.29  0.68 NaN

In [84]:
clean = alco_with_nan.isnull()

In [85]:
clean

      D1     D2     D3    D4
A  False  False  False  True
B  False  False  False  True

In [87]:
alco_with_nan[clean] = 'data'

In [88]:
alco_with_nan

     D1    D2    D3    D4
A  1.36  0.42  0.70  data
B  3.14  0.29  0.68  data

In [91]:
alco_with_nan.fillna('data')

     D1    D2    D3    D4
A  1.36  0.42  0.70  data
B  3.14  0.29  0.68  data