### Q10. 사용자에게 이름을 입력받아
### name.txt 파일에 저장하는 코드를 작성하시오.

In [109]:
# 이름 입력
input_name = input("이름을 입력하세요 : ")

이름을 입력하세요 : 조한준

In [110]:
# 파일 생성 및 열기 저장
f = open("name.txt", 'w')

In [111]:
#쓰기 전에 변수에 잘 들어가있는지 확인
input_name

'조한준'

In [112]:
f.write(input_name)

3

In [113]:
f.close()

### Q11. names.csv 파일에 한줄에 한명씩의 이름이 저장되어 있다고 가정할 때
### 사용자의 이름을 입력받아 해당 목록이 이름이 있는지 여부를
### 출력하는 코드를 작성하시오.

In [56]:
import csv

In [117]:
search_name = []
input_search_name = input("찾을 이름은?")
search_name.append(input_search_name)

찾을 이름은?조한준

In [118]:
search_name

['조한준']

In [137]:
f = open('names.csv', 'r', encoding='utf-8')

In [138]:
reader = csv.reader(f)

In [135]:
for r in reader:
    print(str(r))

['이름1']
['이름2']
['이름3']
['조한준']
['이름4']

In [139]:
names = list(reader)

In [140]:
names

[['이름1'], ['이름2'], ['이름3'], ['조한준'], ['이름4']]

In [141]:
for name in names:
    print(name, search_name)
    if search_name == name:
        print("있음")
        break
    else:
        print("없음")

['이름1'] ['조한준']
없음
['이름2'] ['조한준']
없음
['이름3'] ['조한준']
없음
['조한준'] ['조한준']
있음

In [143]:
# 1.
import csv
search_name = []
input_search_name = input("이름 : ")
search_name.append(input_search_name)
file = open("names.csv", "r", encoding='utf-8')
reader = csv.reader(file)
names = list(reader)
for name in names:
    if search_name == name:
        print("이름 있음")
        break
else:
    print("이름 없음")

이름 : 조한준
이름 있음

### Q12. 현재 폴더에 있는 home_sample.csv 파일을 로드하는 코드를 작성하시오. 
### *pandas를 활용하시오.

In [144]:
import pandas as pd

In [145]:
df = pd.read_csv('home_sample.csv')
df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

### Q13. 위에서 로드한 데이터의 상위 3줄, 하위 3줄 데이터를 주피터 화면에서 출력하여 확인하는 코드를 작성하시오.

In [146]:
df.head(3)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [147]:
df.tail(3)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

### Q14. 위에서 로드한 데이터를 가지고 다음의 제약조건대로 데이터를 변경하시오.
-  1) 데이터의 제일 아랫줄에 mean 행을 추가합니다.
    -  mean 행에는 AMT_ 로 시작하는 열들의 경우 평균값을 구하여 입력합니다. (나머지 열의 mean 행 데이터는 비워놔도 됩니다.)
-  2) 데이터의 제일 오른쪽 열에 rank 열을 추가합니다.
    - rank 열에는 AMT_INCOME_TOTAL 열을 기준으로 랭킹을 구하여 입력합니다.

In [148]:
# 열 확인
df.columns

Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)

In [150]:
# AMT_가 들어간 열 확인
for c in df.columns:
    if "AMT_" in c:
        print(c)

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [157]:
df['AMT_CREDIT']

0         568800.0
1         222768.0
2         663264.0
3        1575000.0
4         625500.0
           ...
48739     412560.0
48740     622413.0
48741     315000.0
48742     450000.0
48743     312768.0
Name: AMT_CREDIT, Length: 48744, dtype: float64

In [158]:
#평균 값을 구해봅시다.
df['AMT_CREDIT'].mean()

516740.43556129985

In [159]:
#맨 아랫줄에 넣어봅시다.
df.iloc[-1]

SK_ID_CURR                        456250
NAME_CONTRACT_TYPE            Cash loans
CODE_GENDER                            F
FLAG_OWN_CAR                           Y
FLAG_OWN_REALTY                        N
                                 ...
AMT_REQ_CREDIT_BUREAU_DAY              0
AMT_REQ_CREDIT_BUREAU_WEEK             0
AMT_REQ_CREDIT_BUREAU_MON              0
AMT_REQ_CREDIT_BUREAU_QRT              1
AMT_REQ_CREDIT_BUREAU_YEAR             4
Name: 48743, Length: 121, dtype: object

In [162]:
#아랫줄 +1 하면 들어갈까?
df.iloc[48744] = 100

IndexError: iloc cannot enlarge its target object

In [172]:
#일단 mean이라는 행을 넣기 전에, 데이터를 만듭시다.
data_mean = []

In [167]:
#step 1 : AMT 들어간 행의 mean값을 반복문을 통해 출력
for c in df.columns:
    if 'AMT_' in c:
        print(c)
        print(df[c].mean())
#         data_mean.append({c : df[c].mean})

AMT_INCOME_TOTAL
178431.80585487446
AMT_CREDIT
516740.43556129985
AMT_ANNUITY
29426.240209359607
AMT_GOODS_PRICE
462618.84047267353
AMT_REQ_CREDIT_BUREAU_HOUR
0.0021079751727368545
AMT_REQ_CREDIT_BUREAU_DAY
0.0018034898700081978
AMT_REQ_CREDIT_BUREAU_WEEK
0.0027872116172853964
AMT_REQ_CREDIT_BUREAU_MON
0.009298512706405903
AMT_REQ_CREDIT_BUREAU_QRT
0.546902447593395
AMT_REQ_CREDIT_BUREAU_YEAR
1.9837685911699263

In [173]:
#step 2 : 출력이 된다면, 그 데이터를 data_mean에 삽입
for c in df.columns:
    if 'AMT_' in c:
#         print(c)
#         print(df[c].mean())
        data_mean.append(df[c].mean())

In [177]:
print(len(data_mean))
data_mean

10

[178431.80585487446,
 516740.43556129985,
 29426.240209359607,
 462618.84047267353,
 0.0021079751727368545,
 0.0018034898700081978,
 0.0027872116172853964,
 0.009298512706405903,
 0.546902447593395,
 1.9837685911699263]

In [175]:
df_copy = df.copy()

In [176]:
#열 지정없이 append를 하면 아래와 같이 나옴
df_copy.append(data_mean, ignore_index=True)

,0,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,...,SK_ID_CURR,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,NaN,20560.5,568800.0,450000.0,135000.0,0.0,0.0,0.0,0.0,0.0,...,100001.0,0.0392,"Stone, brick",TUESDAY,0.9732,0.9732,0.9732,NaN,NaN,NaN
1,NaN,17370.0,222768.0,180000.0,99000.0,0.0,0.0,0.0,0.0,0.0,...,100005.0,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,69777.0,663264.0,630000.0,202500.0,0.0,0.0,0.0,1.0,0.0,...,100013.0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,49018.5,1575000.0,1575000.0,315000.0,0.0,0.0,0.0,0.0,0.0,...,100028.0,0.3700,Panel,WEDNESDAY,0.9970,0.9970,0.9970,0.9592,0.9597,0.9608
4,NaN,32067.0,625500.0,625500.0,180000.0,NaN,NaN,NaN,NaN,NaN,...,100038.0,NaN,NaN,FRIDAY,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48749,0.001803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48750,0.002787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48751,0.009299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48752,0.546902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48753,1.983769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
#열 지정을 위해서, Series로 변환. 하지만, 길이가 안맞음.
data_mean_series = pd.Series(data_mean, index=df.columns)

ValueError: Length of passed values is 10, index implies 121.

In [180]:
df.tail()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [179]:
#해당 위치를 콕 찝는 방법은? df[열][행]
df['AMT_CREDIT'][48743]

312768.0

In [185]:
#열을 돌면서, 그 열에 맞게 mean 값을 추가.
data_mean = pd.Series(name='mean')
df = df.append(data_mean)
for c in df.columns:
    if 'AMT_' in c:
        print(c)
        df[c]['mean'] = df[c].mean()

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [186]:
df.tail()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
48740,456222.0,Cash loans,F,N,N,2.0,157500.000000,622413.000000,31909.500000,495000.000000,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223.0,Cash loans,F,Y,Y,1.0,202500.000000,315000.000000,33205.500000,315000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000
48742,456224.0,Cash loans,M,N,N,0.0,225000.000000,450000.000000,25128.000000,450000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
48743,456250.0,Cash loans,F,Y,N,0.0,135000.000000,312768.000000,24709.500000,270000.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,178431.805855,516740.435561,29426.240209,462618.840473,...,NaN,NaN,NaN,NaN,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769

### Q15. 다음 코드를 보고 alco_with_nan의 결측치를 모두 채우는 코드를 작성하시오.

In [206]:
import numpy as np
import pandas as pd
alco_data = {'D1':[1.36,3.14],'D2':[0.42,0.29],
             'D3':[0.7, 0.68], 'D4':[np.nan,np.nan]}
alco_with_nan = pd.DataFrame(alco_data, index=['A','B'])

In [207]:
alco_with_nan

     D1    D2    D3  D4
A  1.36  0.42  0.70 NaN
B  3.14  0.29  0.68 NaN

In [208]:
#1
clean = alco_with_nan.isnull()

In [209]:
clean

      D1     D2     D3    D4
A  False  False  False  True
B  False  False  False  True

In [210]:
alco_with_nan[clean] = '채움'

In [211]:
alco_with_nan

     D1    D2    D3  D4
A  1.36  0.42  0.70  채움
B  3.14  0.29  0.68  채움

In [189]:
#2
alco_with_nan.fillna('채움')

     D1    D2    D3  D4
A  1.36  0.42  0.70  채움
B  3.14  0.29  0.68  채움